// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
    locked {
        bind "Alt z" { SwitchToMode "Normal"; }
        bind "Alt /" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    normal {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
        bind "Alt z" "Ctrl g" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "l" { ToggleTab; SwitchToMode "Locked"; }
        bind "p" "," { GoToPreviousTab; SwitchToMode "Locked"; }
        bind "n" "." { GoToNextTab; SwitchToMode "Locked"; }
        bind "m" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "t" { SwitchToMode "Tab"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "Ctrl u" { SwitchToMode "Session"; }
        bind "Ctrl v" { SwitchToMode "Move"; }
        bind "a" { SwitchToMode "Tmux"; }
        bind "'" { NextSwapLayout; }
        bind "Ctrl q" { Quit; }
        bind "d" { Detach; }
        bind "o" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }
    scroll {
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "n" { Search "down"; }
        bind "p" "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "O" { SearchToggleOption "WholeWord"; }
    }
    tab {
        bind "m" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "," "p" "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "." "n" "l" "Right" "Down" "j" { GoToNextTab; }
        bind "N" { NewTab; SwitchToMode "Locked"; }
        bind "C" { CloseTab; SwitchToMode "Locked"; }
        bind "S" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "b" { BreakPane; SwitchToMode "Locked"; }
        bind ">" "L" { BreakPaneRight; SwitchToMode "Locked"; }
        bind "<" "H" { BreakPaneLeft; SwitchToMode "Locked"; }
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        bind "l" { ToggleTab; SwitchToMode "Locked"; }
    }
    renametab {
        bind "Alt z" { UndoRenameTab; SwitchToMode "Normal"; }
        bind "Ctrl g" { UndoRenameTab; ScrollToBottom; SwitchToMode "Normal"; }
    }
    pane {
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "n" { NewPane; SwitchToMode "Locked"; }
        bind "c" { CloseFocus; SwitchToMode "Locked"; }
        bind "=" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        bind "W" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "m" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    renamepane {
        bind "Alt z" { UndoRenamePane; SwitchToMode "Normal"; }
        bind "Ctrl g" { UndoRenamePane; ScrollToBottom; SwitchToMode "Normal"; }
    }
    resize {
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    move {
    }
    session {
    }
    tmux {
        bind "Alt z" { SwitchToMode "Normal"; }
        bind "Ctrl a" { Write 1; SwitchToMode "Locked"; }
        bind "s" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "v" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "j" { FocusNextPane; SwitchToMode "Locked"; }
        bind "Ctrl j" { FocusNextPane; }
        bind "k" { FocusPreviousPane; SwitchToMode "Locked"; }
        bind "Ctrl k" { FocusPreviousPane; }
        bind "m" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "\"" { NextSwapLayout; }
        bind "." { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Locked"; }
        bind "Ctrl p" { GoToPreviousTab; }
        bind "n" { GoToNextTab; SwitchToMode "Locked"; }
        bind "Ctrl n" { GoToNextTab; }
        bind "Space" { SwitchToMode "Scroll"; }
        bind "Alt n" { NewTab; SwitchToMode "Locked"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "l" { ToggleTab; SwitchToMode "Locked"; }
        bind "d" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
        bind "Ctrl u" "u" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }
    //
    // Modes:
    //   locked
    //   normal scroll
    //   entersearch search
    //   tab renametab
    //   pane renamepane
    //   resize move
    //   session
    //   tmux
    //
    shared_except "locked" {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
    }
    shared_among "scroll" "entersearch" "search" "tab" "pane" "resize" "move" "session" "tmux" {
        bind "Alt z" { SwitchToMode "Normal"; }
        bind "Ctrl g" { ScrollToBottom; SwitchToMode "Normal"; }
    }
    shared_among "normal" "scroll" "search" "tab" "pane" "resize" "move" "session" "tmux" {
        bind "Enter" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind ";" { FocusNextPane; SwitchToMode "Locked"; }
        bind "Ctrl ;" { FocusNextPane; SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
    }
    shared_among "normal" "tab" "pane" "move" "session" "tmux" {
        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
    }
    shared_among "scroll" "search" "resize" {
        bind "Alt f" { ToggleFocusFullscreen; }
    }
    shared_among "normal" "scroll" "search" {
        bind "Down" { ScrollDown; }
        bind "Up" { ScrollUp; }
        bind "j" "Ctrl j" { ScrollDown; }
        bind "k" "Ctrl k" { ScrollUp; }
        bind "f" "Ctrl f" "PageDown" "Space" { PageScrollDown; }
        bind "b" "Ctrl b" "PageUp" { PageScrollUp; }
        bind "J" { HalfPageScrollDown; }
        bind "K" { HalfPageScrollUp; }
        bind "z" { SwitchToMode "Resize"; }
        bind "w" { SwitchToMode "Pane"; }
    }
    // shared_among "scroll" "search" {
    //     bind "Down" { ScrollDown; }
    //     bind "Up" { ScrollUp; }
    // }
    shared_among "normal" "pane" {
        bind "s" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "v" { NewPane "Right"; SwitchToMode "Locked"; }
    }
    shared_among "pane" "move" {
        bind "Ctrl ." { MovePane; }
        bind "Ctrl ," { MovePaneBackwards; }
        bind "H" { MovePane "Left"; }
        bind "J" { MovePane "Down"; }
        bind "K" { MovePane "Up"; }
        bind "L" { MovePane "Right"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    default {
        fg "#D5D8DC"
        bg "#2C2F30"
        black "#181818"
        red "#DE4D3A"
        green "#B8E068"
        yellow "#EBCB8B"
        blue "#61B3C9"
        magenta "#617FA0"
        orange "#F8BB39"
        cyan "#69D2E7"
        white "#D5D8DC"
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "default"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
